---
# Original role: Nagios NRPE Server role by Mooash

#
# Nagios OS Specific Variables
#
- name: NRPE | Include OS-Specific variables
  tags:
    - nrpe
  include_vars: "{{ item }}"
  with_first_found:
    - "{{ansible_distribution}}_{{ansible_distribution_major_version}}_{{ansible_distribution_minor_version}}.yml"
    - "{{ansible_distribution}}_{{ansible_distribution_major_version}}.yml"
    - "{{ansible_distribution}}.yml"
    - "{{ansible_os_family}}_{{ansible_distribution_major_version}}_{{ansible_distribution_minor_version}}.yml"
    - "{{ansible_os_family}}_{{ansible_distribution_major_version}}.yml"
    - "{{ansible_os_family}}.yml"
    - default.yml

#
# Check that we are on a supported os and whether or not we are virtualized
#
- name: NRPE | Assert that OS is supported
  tags:
    - nrpe
  assert:
    that: nrpe_os_supported == True

- name: NRPE | Set facts for nrpe_manage_service and nrpe_allow_restart
  tags:
    - nrpe
  set_fact:
    nrpe_manage_service: "{{ false if ansible_virtualization_type == 'docker' else true }}"
    nrpe_allow_restart: "{{ false if ansible_virtualization_type == 'docker' else true }}"

#
# Install Nagios
#
- name: NRPE | Install Nagios NRPE Packages
  tags:
    - nrpe
    - install

  yum:
    name: "{{ item }}"
    state: present
    enablerepo: "{{ epel_repo }}"
  with_items: "{{ nrpe_packages }}"

#
# Configure NRPE
#
- name: NRPE | Create nrpe.cfg from template
  tags:
    - nrpe
    - configuration
  template:
    src: "nrpe.cfg.j2"
    dest: "{{ nrpe_dir }}/nrpe.cfg"
    owner: root
    group: root
    mode: "0644"
  notify: Restart NRPE

#
# Install NRPE Plugins
#
- name: NRPE | Install global plugins
  copy:
    src: "{{ item }}"
    dest: "{{ opt_nrpe_plugins_dir }}/"
    owner: root
    group: root
    mode: "0755"
  with_fileglob:
    - "{{ nrpe_data }}/nrpe/plugins/global/*"

- name: NRPE | Install per-server plugins
  copy:
    src: "{{ item }}"
    dest: "{{ nrpe_plugins_dir }}/"
    owner: root
    group: root
    mode: "0755"
  with_fileglob:
    - "{{ nrpe_data }}/nrpe/plugins/{{ ansible_fqdn }}/*"

#
# Configure NRPE Checks
#
- name: NRPE | Create NRPE checks from command dictionary
  tags:
    - nrpe
    - configuration
  template:
    src: "nrpe_d.cfg.j2"
    dest: "{{ nrpe_check_dir }}/{{ item.key }}.cfg"
    owner: root
    group: root
    mode: "0755"
  with_dict: "{{ nrpe_commands_default }}"
  when: nrpe_commands_default
  ignore_errors: true
  notify: Restart NRPE

- name: NRPE | Create NRPE host-specific checks
  tags:
    - nrpe
    - configuration
  template:
    src: "nrpe_d.cfg.j2"
    dest: "{{ nrpe_check_dir }}/{{ item.key }}.cfg"
    owner: root
    group: root
    mode: 0664
  with_dict: "{{ nrpe_commands[ansible_fqdn] }}"
  ignore_errors: true
  notify: Restart NRPE

#
# Service initialization
#
- name: Ensure NRPE server is running
  service:
    name: "{{ nrpe_service }}"
    state: started
    enabled: yes
