{% macro body_option(key,override) -%}
{%   set value = undefined %}
{%   if override is defined %}
{%     set value = override %}
{%   elif nrpe[key] is defined %}
{%     set value = nrpe[key] %}
{%   elif nrpe_defaults[key] is defined and nrpe_skip_defaults != true %}
{%     set value = nrpe_defaults[key] %}
{%   endif %}
{{ render_option(key, value) }}
{%- endmacro %}

{% macro render_option(key, value, indent=false) -%}
{%   if value is defined %}
{%     if indent == true %}  {% endif %}
{%     if value is string or value is number %}
{{ key }}={{ value }}
{%     else %}
{{ key }}={{ value | join(",") }}
{%     endif %}
{%   endif %}
{%- endmacro %}
