{{ ansible_managed | comment }}

command[{{ item.key }}]={% if item.value.sudo is defined and item.value.sudo == true %}sudo {% endif %}{{ nrpe_plugins_dir }}/{{ item.value.script }} {{ item.value.option }}
