{{ ansible_managed | comment }}

{% if nagios_nrpe_command is defined %}
{% for command in nagios_nrpe_command %}
command[{{ command }}]={{ nrpe_plugins_dir }}/{{ nagios_nrpe_command[command]["script"] }} {{ nagios_nrpe_command[command]["option"] }}
{% endfor %}
{% endif %}
